<html>
<head></head>
<body>
<div style="margin:0 auto;max-width:600px;">
  <br>
  <p> Contact Name : <%= contactName %></p>
  <p> Company Name : <%= companyName %></p>
  <p> Phone Number : <%= phoneNumber %></p>
  <p> Project Name : <%= projectName %></p>
  <p> Project Url : <%= projectUrl %></p>
  <p> Project Type : <%= projectType %></p>
  <p> Project Size : <%= projectSize %></p>
  <p> Design Services : <%= designServices %></p>
  <p> Content Services : <%= contentServices %></p>
  <p> Deployment Services : <%= deploymentServices %></p>
  <p> Message : </p>
  <hr>
  <p><%= message %></p>
  </br></br>
  Thanks
</div>
</body>
</html>
